.NewComment {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.NewComment-label {
  padding-bottom: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 100%; 
}

.NewComment textarea { 
  margin-top: 10px;
  padding: 5px;
  width: 100%; 
}
